@import 'src/styles/fonts.scss';
@import 'src/styles/colors.scss';

.button {
  display: flex;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  transition: opacity ease-out 75ms, background-color ease-out 75ms, color ease-out 75ms;
  height: min-content;

  &:hover {
    cursor: pointer
  }

  &_shape {
    &_rounded {
      @include subheadline($text_color, $semibold);
      padding: 8px 12px 8px 12px;
      border-radius: 20px;
    }

    &_default {
      @include subheadline($text_color, $semibold);
      padding: 12px 16px;
      border-radius: 12px;
    }

    &_large {
      @include text($text_color, $semibold);
      padding: 15px 12px 15px 12px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      width: Calc(100% - 20px);
      margin: 0 10px;
    }
  }

  &_type {
    &_default {
      background-color: $button_color;
      color: $button_text_color;

      .loader {
        background-color: $button_text_color;
      }

      &:hover {
        opacity: .85;
      }

      &:active {
        opacity: .65;
      }

      &:disabled {
        cursor: default;
        opacity: .35;
      }
    }

    &_blazed {
      background-color: $secondary_fill;
      color: $link_color;

      .loader {
        background-color: $link_color;
      }

      &:hover {
        background-color: #007AFF33;

        &:disabled {
          background-color: $secondary_fill;
          color: $link_color;
        }
      }

      &:active {
        background-color: #007AFF4d;

        &:disabled {
          background-color: $secondary_fill;
          color: $link_color;
        }
      }

      &:disabled {
        cursor: default;
        opacity: .35;
      }
    }

    &_white {
      background-color: $white;
      color: $plain_fg;

      .loader {
        background-color: $plain_fg;
      }

      &:hover {
        opacity: .85;
      }

      &:active {
        opacity: .65;
      }

      &:disabled {
        cursor: default;
        opacity: .35;
      }
    }

    &_gray {
      background-color: $plain_bg;
      color: $plain_fg;

      .loader {
        background-color: $plain_fg;
      }

      &:hover {
        opacity: .85;
      }

      &:active {
        opacity: .65;
      }

      &:disabled {
        cursor: default;
        opacity: .35;
      }
    }

    &_outline {
      border: 1px solid $outline;
      background-color: transparent;
      color: $plain_fg;

      .loader {
        background-color: $plain_fg;
      }

      &:hover {
        opacity: .85;
      }

      &:active {
        opacity: .65;
      }

      &:disabled {
        cursor: default;
        opacity: .35;
      }
    }

    &_plain {
      background-color: transparent;
      color: $link_color;

      .loader {
        background-color: $link_color;
      }

      &:hover {
        background-color: #007AFF0d;

        &:disabled {
          background-color: $secondary_fill;
          color: $link_color;
        }
      }

      &:active {
        background-color: #007AFF1a;

        &:disabled {
          background-color: $secondary_fill;
          color: $link_color;
        }
      }

      &:disabled {
        cursor: default;
        opacity: .35;
      }
    }
  }
}