$bg_color: #212121;
$text_color: #fff;
$hiny_color: #aaa;
$link_color: #2990ff;
$button_color: #2990ff;
$button_text_color: #fff;
$secondary_bg_color: #0f0f0f;
$header_bg_color: #212121;
$accent_text_color: #007aff;
$section_bg_color: #212121;
$section_header_text_color: #aaa;
$subtitle_text_color: #aaa;
$destructive_text_color: #e53935;

$skeleton: #ffffff03;
$divider: #ffffff05;
$outline: #ffffff10;
$surface_primary: #17171795;
$surface_dark: #38383885;
$tertiary_bg_color: #2a2a2a;
$quaternery_bg_color: #2f2f2f;
$segmented_color_active_bg: #2f2f2f;
$card_bg_color: #323232;
$secondary_hint_color: #78797e;
$secondary_fill: #2990ff15;
$green: #32e555;
$desctuctive_bg: #f12e2e15;
$primary_code_highlight: #2990ff;
$secondary_code_highlight: #e937ed;
$tertiary_code_highlight: #5ae536;
$plain_bg: #ffffff08;
$plain_fg: #ffffff95;
$toast_accnt_color: #55a6ff;
$tooltip_bg_dark: #00000085;

