@import 'src/styles/fonts.scss';
@import 'src/styles/colors.scss';

.perks {
  position: relative;
  min-height: calc(100vh - 51px);
  background-image: 
    linear-gradient(black, black),
    url(../../images/perks_bg.png);
  background-blend-mode: saturation;
  background-position: left top;
  background-size: cover;
  box-sizing: border-box;
  padding: 16px;
  gap: 16px;

  display: flex;
  flex-direction: column;

  &__balance {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    gap: 8px;

    &-caption {
      @include text($hint_color, $regular)
    }

    &-box {
      display: flex;
      gap: 4px;
      align-items: center;
      padding: 4px 16px;
      border-radius: 40px;
      background-color: $surface_dark;
    }

    &-icon {
      width: 30px;
      height: 30px;
    }

    &-coins {
      font-family: 'San Francisco Rounded';
      font-size: 24px;
      color: $text_color;
    }
  }
}

.gifts {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  background-color: $bg_color;
  border-radius: 16px;

  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 48px;
    min-height: 48px;
    background-color: $skeleton;
    border-radius: 4px;
    font-size: 36px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
  }

  &__title {
    @include subheadline($text_color, $semibold);
  }

  &__subtitle {
    @include caption_1($hint_color, $regular);
    max-width: 170px;
  }

  &__button {
    display: flex;
    min-width: 24px;
    min-height: 24px;
    background-color: transparent;
    border: none;
    mask-image: url(../../images/Arrow/Chevron_Left.svg);
    background-color: $hint_color;
    rotate: 180deg;
  }
}

.boosters {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: start;

  &__title {
    @include title_2($text_color, $semibold);
  }

  &__cards {
    display: flex;
    gap: 8px;
    width: 100%;
  }
}

.booster-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $bg_color;
  border-radius: 16px;
  padding: 12px 16px;
  width: 100%;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: start;
  }

  &__name {
    @include text($text_color, $regular);
  }

  &__remain {
    @include caption_1($hint_color, $regular);
  }

  &__icon {
    font-size: 36px;
  }
}

.shop {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;

  &__tabs {
    position: relative;
    display: flex;
    width: 100%;
    gap: 38px;

    &-indicator {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      height: 3px;
      width: calc(50% - 19px);
      background-color: $button_color;
      border-radius: 2px 2px 1px 1px;
      transition: left 75ms ease-in-out;

      &_perks {
        left: 0;
      }

      &_boost {
        left: calc(100% - calc(50% - 19px));
      }
    }
  }

  &__tab {
    position: relative;
    background-color: transparent;
    border: none;
    height: 44px;
    width: 100%;

    @include text($secondary_hint_color, $bold);

    transition: color 75ms ease-out;

    &_active {
      color: $link_color;
    }
  }

  &__list {
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    border-radius: 16px;
    background-color: $bg_color;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 12px;
    
    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 48px;
      min-height: 48px;
      background-color: $skeleton;
      border-radius: 4px;
      font-size: 36px;
    }

    &-text {
      display: flex;
      flex-direction: column;
      gap: 2px;
      width: 100%;
    }

    &-title {
      @include subheadline($text_color, $semibold);
      display: flex;
      align-items: center;
      gap: 14px;
    }

    &-lvl {
      background-color: $link_color;
      padding: 0 4px;
      border-radius: 30px;

      @include caption_2($text_color, $semibold)
    }

    &-subtitle {
      @include caption_1($hint_color, $regular);
    }

    &-button {
      display: flex;
      min-width: 24px;
      height: 24px;
      background-color: transparent;
      border: none;
      mask-image: url(../../images/Arrow/Chevron_Left.svg);
      background-color: $hint_color;
      rotate: 180deg;
    }
  }
}