@import 'src/styles/colors.scss';

@keyframes click-transition {
  0% {
    transform: translateY(100%);
    opacity: 0;
    z-index: 10;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
    z-index: 10;
  }
  100% {
    opacity: 0;
    z-index: 10;
  }
}

.click-indicator {
  position: absolute;
  opacity: 0;
  z-index: 0;

  font-family: 'San Francisco Rounded';
  font-size: 40px;
  color: $text_color;
  animation: click-transition 0.5s ease-out 1;
}