@import url(./vendor/fonts/SF.scss);

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  font-family: 'San Francisco', 'Roboto', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
